<?xml version="1.0"?>
<config>
	<id>widget test-widget</id>
	<type>widget</type>
	<category>
		<main>etc</main>
		<sub>none</sub>
	</category>
	<name>
		<en>TEST Widget</en>
		<ko>테스트용 위젯</ko>
	</name>
	<version>0.1</version>
	<author>JaeHo Song</author>
	<email>thruthesky@gmail.com</email>
	<homepage>http://jaehosong.com</homepage>
	<demo>http://philgo.net</demo>
	<short>
		<en>This is only for test.</en>
		<ko>테스트를 위한 위젯입니다.</ko>
	</short>
	<detail>
		<en></en>
		<ko></ko>
	</detail>
</config>
